<section class="container room-list-container">
  <h2>登録済み一覧</h2>
  <div>
    <table class="table align-middle">
      <thead>
        <tr>
          <th>画像</th>
          <th>施設名</th>
          <th>紹介文</th>
          <th>料金</th>
          <th>作成日</th>
          <th></th>
        </tr>
      </thead>

      <tdoby>
        <% @rooms.each do |r| %>
          <tr>
            <th class="align-middle"><%= image_tag r.room_image.to_s, size: "150x100" %></th>
            <th class="align-middle"><%= link_to r.room_name, room_path(r) %></th>
            <th class="align-middle"><%= r.room_info %></th>
            <th class="align-middle">¥ <%= r.room_price %></th>
            <th class="align-middle"><%= r.created_at.to_s(:room_inded_date_jp) %></th>
            <th class="align-middle"><%= link_to "編集", edit_room_path(r) %></th>
            <th class="align-middle"><%= button_to "削除", room_path(r), { method: :delete, data: { confirm: '本当に削除しますか？' } } %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>