<!DOCTYPE html>
<html>
  <head>
    <title>RoomReserveApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="Header">
      <section class="HeaderItems">
        <%= link_to image_tag("logo.png", width: "221px"), '/static_pages/home'%> 
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <%= current_user.username %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% else %>
            <li class="Navlogin"><%=link_to "ログイン", new_user_session_path %></li>
            <li><%=link_to "新規登録", new_user_registration_path , class:"btn btn-lg btn-primary" %></li>
          <% end %>
        </ul>
      </section>
    </header>
    <div>
      <%= yield %>
    </div>
    <footer class="Footer">
      <div class="FooterContainer">
        <%= link_to image_tag("logo.png", width: "292px"), '/static_pages/home'%>
        <p class="FooterText">Copyright © Potepan Share 2023 All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
